<script>
  window.MathJax = {
    loader: {
      load: ['[img]/img.min.js'],
      paths: {img: 'https://cdn.jsdelivr.net/npm/mathjax-img@4'}
    },
    tex: {
      packages: {'[+]': ['img']},
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>