{{/* layouts/shortcodes/chem.html */}}
{{- $reactant := .Get 0 -}}
{{- $condition1 := .Get 1 -}}
{{- $condition2 := .Get 2 -}}
{{- $product := .Get 3 -}}
{{- $baseURL := .Site.BaseURL -}}

<span style="display: inline-flex; align-items: center; font-family: 'Times New Roman', serif;">
  <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $reactant }}" style="height: 1.5em; vertical-align: middle;">
  <span style="display: inline-block; position: relative; margin: 0 0.5em;">
    <span style="position: absolute; top: -0.8em; left: 50%; transform: translateX(-50%); white-space: nowrap; font-size: 0.8em;">
      <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $condition1 }}" style="height: 1em; vertical-align: middle;">
      <span style="margin: 0 0.2em;">+</span>
      <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $condition2 }}" style="height: 1em; vertical-align: middle;">
    </span>
    <span style="font-size: 1.2em;">⟶</span>
  </span>
  <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $product }}" style="height: 1.5em; vertical-align: middle;">
</span>