{{/* layouts/shortcodes/reaction.html */}}
{{- $w := .Get 0 -}}
{{- $rosmontis := .Get 1 -}}
{{- $blaze := .Get 2 -}}
{{- $amiya := .Get 3 -}}
{{- $baseURL := .Site.BaseURL -}}

<div style="display: inline-flex; align-items: center; vertical-align: middle; font-family: 'KaTeX_Main', 'Times New Roman', serif;">
  <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $w }}" alt="W" style="height: 1.5em; vertical-align: middle;">
  <span style="display: inline-flex; flex-direction: column; align-items: center; margin: 0 0.5em; position: relative;">
    <span style="font-size: 0.8em; margin-bottom: -0.2em;">
      <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $rosmontis }}" alt="Rosmontis" style="height: 1.2em;">
      <span style="margin: 0 0.2em;">+</span>
      <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $blaze }}" alt="Blaze" style="height: 1.2em;">
    </span>
    <span style="font-size: 1.5em;">→</span>
  </span>
  <img src="{{ $baseURL }}{{ strings.TrimPrefix "/" $amiya }}" alt="Amiya" style="height: 1.5em; vertical-align: middle;">
</div>